__pycache__/
Code/data/raw/fhvhv_tripdata_2025-02.parquet
Code/data/raw/taxi_zones/*
Code/data/raw/data_reports_monthly.csv

.github/

Code/data/processed/zone_time_matrix_new.csv

Docs/first_graphs/active_rides_per_day_lyft.png
Docs/first_graphs/active_rides.png
Docs/first_graphs/distribution of rides.png
Docs/first_graphs/fleet_size_summary.png
Docs/first_graphs/NYC_taxi_zones.png
.DS_Store

# Ignore LaTeX files
*.aux
*.log
*.out
*.toc
*.bbl
*.bcf
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdfsync
*.alg
*.lof
*.lot
*.gls
*.glg
*.glo
*.xdy
*.acn
*.acr
*.glsdefs
*.lol
*.idx
*.ilg
*.ind
*.ist
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.snm
*.vrb
*.xwm
*.tdo
*.run.xml
*.figlist
*.makefile
*.fls
*.figlist
*.makefile
*.listing
*.loe
*.dpth
*.md5
*.auxlock
*.gz(busy)
*.figlist
*.makefile
*.fls
*.figlist
*.makefile
